<div class="comments">
    {{#each this}}
    <div class="comment">
        <div class="comment-info">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="inner-text">
            {{comment_text}}
        </div>
        {{/each}}
    </div>
</div>