<div class="card" style="width: 18rem;">
          <img src={{img_url}} class="card-img-top" alt={{img_url}}>
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>  