<section class="container p-4 filter-bar-top">

    <div class="filter-dropdown-container row align-items-center">
        {{! <label for="difficulty">Choose exercise difficulty:</label> }}
        <div class="col-6 col-md-2 mt-1">
            <select
                class="form-select filter-dropdowns"
                name="difficulty"
                id="exerciseDifficultyFilter"
            >
                <option selected>Filter by difficulty</option>
                <option value="3">Beginner</option>
                <option value="2">Intermediate</option>
                <option value="1">Expert</option>
            </select>
        </div>
        {{! <label for="type">Choose exercise type:</label> }}
        <div class="col-6 col-md-2 mt-1">
            <select
                class="form-select filter-dropdowns"
                name="type"
                id="exerciseTypeFilter"
            >
                <option selected>Filter by Exercise Type</option>
                <option value="1">Cardio</option>
                <option value="2">Core</option>
                <option value="3">Strength</option>
                <option value="4">Crossfit</option>
            </select>
        </div>
        <div class="row justify-content-center align-items-center col-12 col-md-4 mt-1">
            <button
                type="button"
                class="btn btn btn-primary col-6"
                id="filterBtn"
            >Filter</button>
        </div>
        
    </div>

    {{! <div id="checkbox-btn-container">
        <div id="tags">
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="1" type="checkbox" name="tags1" />
                <label class="form-check-label" for="tags1"> Weights</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="2" type="checkbox" name="tags2" />
                <label class="form-check-label" for="tags2"> Outdoors</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="3" type="checkbox" name="tags3" />
                <label class="form-check-label" for="tags3">
                    Gym Required</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="4" type="checkbox" name="tags4" />
                <label class="form-check-label" for="tags4"> Quick</label>
            </div>
        </div>
    </div> }}

</section>