<section class="d-flex p-4 filter-bar-top">

    <div class="filter-dropdown-container">
        {{! <label for="difficulty">Choose exercise difficulty:</label> }}
        <select
            class="form-select filter-dropdowns"
            name="difficulty"
            id="exerciseDifficultyFilter"
        >
            <option selected>Filter by difficulty</option>
            <option value="3">Beginner</option>
            <option value="2">Intermediate</option>
            <option value="1">Expert</option>
        </select>
        {{! <label for="type">Choose exercise type:</label> }}
        <select
            class="form-select filter-dropdowns"
            name="type"
            id="exerciseTypeFilter"
        >
            <option selected>Filter by Exercise Type</option>
            <option value="1">Cardio</option>
            <option value="2">Core</option>
            <option value="3">Strength</option>
            <option value="4">Crossfit</option>
        </select>
    </div>

    <div id="checkbox-btn-container">
        <div id="tags">
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="1" type="checkbox" name="tags1" />
                <label class="form-check-label" for="tags1"> Weights</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="2" type="checkbox" name="tags2" />
                <label class="form-check-label" for="tags2"> Outdoors</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="3" type="checkbox" name="tags3" />
                <label class="form-check-label" for="tags3">
                    Gym Required</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="4" type="checkbox" name="tags4" />
                <label class="form-check-label" for="tags4"> Quick</label>
            </div>
        </div>
        <button
            type="button"
            class="btn btn btn-primary"
            id="filterBtn"
        >Filter</button>
    </div>

</section>