<label for="type-exercise">Choose the type of exercise:</label>
        <select name="type-exercise" id="exerciseType">
           {{#each this}}
            <option value="{{options.type}}">{{options.type}}</option>
           {{/each}}
</select>