<section>
    <h2>Create a new exercise!</h2>
    <form class = "select">
        {{>type-info }}
        
        {{!-- <label for="difficulty">Choose exercise difficulty:</label>
        <select name="difficulty" id="exerciseDifficulty">
            {{#each difficulty}}
            <option value="{{difficulty}}"></option>
            {{/each}}
        </select>
         <label for="tags">Choose Tags:</label>
        <select name="tags" id="exerciseTags">
            {{#each tags}}
            <option value="{{title}}"></option>
            {{/each}} --}}
        {{!-- </select> --}}
        {{!-- <label for="picture">Choose picture relating to exercise:</label>
        <select name="picture" id="exercisePicture">
            <option value="{{picture.img_url}}"></option>
        </select> --}}
    </form>

    <form class = 'new-exercise'>
        <div>
            <label for="exercise-title">Exercise:</label>
            <input type="text" id="exercise-title" name="exercise-title">
        </div>
        <div>
            <label for="exercise-description">Description:</label>
            <textarea name="exercise-description" id="description" ></textarea>
        </div>
    </form>
</section>