<section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Find Your Fit.</h1>

            <h3 class="hero-sub">Take your workout to the world.</h3>

            <button class="hero-button" type="button"><a class="hero-link" href="/exercises">View Exercises</a></button>
        </div>
</section>