{{#if loggedIn}}
<form action="">
    <div>
        <div>
            <label class="form-label" for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div>
            <label class="form-label" for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>

        <button class="form-button" type="submit">Login</button>

        <a class="register-link" href="/register">Don't have an account? Sign up today!</a>
    </div>
</form>
{{/if}}
