<section class="login-container">
        <form class="login-form" action="">
            <div class="form-container">
                <h1 class="form-title">Login</h1>

                <div class="form-input">
                    <input class="input-field" type="text" id="email-login" />
                    <span class="input-span"></span>
                    <label class="form-label" for="email-login">Email:</label>
                </div>

                <div class="form-input">
                    <input class="input-field" type="password" id="password-login" />
                    <span class="input-span"></span>
                    <label class="form-label" for="password-login">Password:</label>
                </div>

                <div class="form-button">
                    <button class="form-submit" type="submit" id="login-btn">Login</button>
                </div>

                <div class="form-signup">
                    <a class="register-link" href="/register">Don't have an account? Sign up today!</a>
                </div>
            </div>
        </form>
    </section>

<script src="javascript/login.js"></script>
