<form action="">
    <div>
        <div>
            <label class="form-label" for="email-register">Email:</label>
            <input class="form-input" type="text" id="email-register" />
        </div>
        <div>
            <label class="form-label" for="username-register">Username:</label>
            <input class="form-input" type="text" id="username-register">
        </div>
        <div>
            <label class="form-label" for="password-register">Password:</label>
            <input class="form-input" type="password" id="password-register" />
        </div>

        <button class="form-button" type="submit" id="register-btn">Submit</button>Sign Up</button>
    </div>
</form>
<script src="/javascript/register.js"></script>